Repository tunahanarslan/fullstack-mastery: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(backend): initialize express server with hello and root endpoints
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/server.ts
  backend/tsconfig.json
Due: eslint --fix, prettier --write

feat(backend): modular route structure & dynamic swagger config
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/config.ts
  backend/src/routes/hello.ts
  backend/src/routes/index.ts
  backend/src/routes/user.ts
  backend/src/server.ts
  backend/src/swagger.ts
Due: eslint --fix, prettier --write

Add JWT auth middleware, secure user routes, and enhance Swagger with bearerAuth
  .vscode/launch.json
  apps/frontend/package.json
  apps/frontend/pnpm-lock.yaml
  apps/frontend/src/App.tsx
  apps/frontend/src/components/AuthForm.tsx
  apps/frontend/src/components/UserForm.tsx
  apps/frontend/src/components/UserList.tsx
  apps/frontend/src/services/api.ts
  apps/frontend/tsconfig.json
  backend/package-lock.json
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/config/db.ts
  backend/src/config/env.ts
  backend/src/config/index.ts
  backend/src/middleware/authMiddleware.ts
  backend/src/models/AuthUser.ts
  backend/src/models/User.ts
  backend/src/routes/auth.ts
  backend/src/routes/index.ts
  backend/src/routes/user.ts
  backend/src/server.ts
  backend/src/swagger.ts
  backend/tsconfig.json
Due: eslint --fix, prettier --write

chore(frontend): gh-pages setup, env split, hash router, api base
  apps/frontend/.env.development
  apps/frontend/.env.production
  apps/frontend/package.json
  apps/frontend/pnpm-lock.yaml
  apps/frontend/src/App.tsx
  apps/frontend/src/components/AuthForm.tsx
  apps/frontend/src/components/ProtectedRoute.tsx
  apps/frontend/src/components/UserForm.tsx
  apps/frontend/src/context/AuthContext.tsx
  apps/frontend/src/pages/Dashboard.tsx
  apps/frontend/src/services/api.ts
  backend/src/config/db.ts
  backend/src/config/env.ts
  backend/src/config/index.ts
  backend/src/middleware/authMiddleware.ts
  backend/src/models/AuthUser.ts
  backend/src/models/User.ts
  backend/src/routes/auth.ts
  backend/src/routes/hello.ts
  backend/src/routes/index.ts
  backend/src/routes/user.ts
  backend/src/server.ts
Due: eslint --fix, prettier --write

Updates
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .vscode/launch.json
  apps/frontend/.env.development
  apps/frontend/.env.production
  apps/frontend/.gitignore
  assets/index-BXlwvU0R.js
  assets/index-C2YSg-dp.css
  index.html
  vite.svg
Due: eslint --fix, prettier --write

Updates
  index.html
Due: none

last
  apps/frontend/pnpm-lock.yaml
  apps/frontend/vite.config.ts
Due: eslint --fix, prettier --write

gitignore changes
  apps/frontend/.gitignore
Due: none

Updates
  assets/index-CIQnFWmH.js
  index.html
Due: eslint --fix, prettier --write

Updates
  assets/index-BCaV4vim.js
  assets/index-CIQnFWmH.js
  index.html
Due: eslint --fix, prettier --write

Updates
  assets/index-BCaV4vim.js
  assets/index-DlFSQXwL.js
  index.html
Due: eslint --fix, prettier --write

deploying
  apps/frontend/.nojekyll
  apps/frontend/vite.config.ts
Due: eslint --fix, prettier --write

deployin2
  apps/frontend/.env.production
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/services/api.ts
  backend/package.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

deployin3
  apps/frontend/.env.production
Due: none

Updates
  assets/index-DKVdHHBg.js
  index.html
Due: eslint --fix, prettier --write

fix: something
  backend/src/server.ts
Due: eslint --fix, prettier --write

fix: something
  .render.yaml
Due: none

fix: something
  package.root.json
Due: prettier --write

fix2
  apps/frontend/src/services/api.ts
Due: eslint --fix, prettier --write

Updates
  assets/index-D91gcAoE.js
  index.html
Due: eslint --fix, prettier --write

fix3
  apps/frontend/src/services/api.ts
Due: eslint --fix, prettier --write

render problems
  .render.yaml
Due: none

fixed render-ready server with proper port binding
  backend/src/server.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,css,scss,md})
